html, body, #main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background: -webkit-radial-gradient(center, circle cover, #ffffff 0%, #d1d1d1 100%);
}

.tm-panel {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
	.tm-hidden {
		visibility: hidden;
	}

	.tm-visible {
		visibility: visible;
	}

.menu-container {
	width: 100%;
	height: 100%;
	display: table;
}

	.menu-content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

		.menu-content section {
			margin-bottom: 70px;
		}

		.menu-content section .card {
			position: relative;
			width: 230px;
			height: 130px;
			margin-right: 40px;
			background-color: #9fc5f8;
			border: 3px solid #6fa8dc;
			display: inline-block;
			text-align: center;
/*			-webkit-box-shadow: 4px 2px 6px 0px rgba(50, 50, 50, 0.42);
			box-shadow:         4px 2px 6px 0px rgba(50, 50, 50, 0.42);
*/			box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
		}

		section .card span {
			color: #08346e;
			font-family: Tahoma, Verdana, Segoe, sans-serif;
			font-size: 2em;
			font-weight: bold;
			line-height: 4.5em;
			/*display: inline-block;*/
		}

		.menu-rounded {
			border-radius: 15px;
		}

		.card-shadow {
			-webkit-box-shadow: 4px 2px 6px 0px rgba(50, 50, 50, 0.42);
			box-shadow:         4px 2px 6px 0px rgba(50, 50, 50, 0.42);
		}

		div.menu-content section:last-of-type {
			margin-bottom: 0;
		}

			.badge {
				position: absolute;
				background-color: #d00;
				color: white;
				width: 32px;
				height: 32px;
				top: -15px;
				right: -15px;
				padding: 10px;
				font-size: 1em;
				line-height: 0.7em;
				font-weight: bold;
				border: 2px solid black;
				border-radius: 50%;
				-webkit-transition: all .4s ease-in-out;
				/*-webkit-transform-origin: 0 0;*/
			}
				.badge-hidden {
					-webkit-transform: scale(0);
				}

				.badge-visible {
					-webkit-transform: scale(1);
				}
