html, body, #main {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #e5e9e8;
}

body {
	/*background: -webkit-radial-gradient(center, circle cover, #ffffff 0%, #d1d1d1 100%);*/
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tm-panel {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
	.tm-hidden {
		visibility: hidden;
	}

	.tm-visible {
		visibility: visible;
	}

.shelf-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 100%;
		z-index: 1;
	}

	.user-container {
		float: left;
		margin-top: 13px;
	}

	.user-icon {
		border-radius: 50%;
	}

.menu-container {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	background: -webkit-radial-gradient(center, circle cover, #ffffff 0%, #d2d6d6 100%);
	z-index: 100;
}

	.menu-content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;	
	}

		.shelf-icon {
			position: absolute;
			top: 5%;
			left: 5%;
		}

		.menu-content section {
			margin-bottom: 70px;
		}

		.menu-content section .card {
			position: relative;
			width: 230px;
			height: 130px;
			margin-right: 40px;
			background-color: #9fc5f8;
			border: 2px solid #6fa8dc;
			display: inline-block;
			text-align: center;
		}

		section .card span {
			color: #08346e;
			/*font-family: 'robotoregular', Tahoma, Verdana, Segoe, sans-serif;*/
			font-family: 'Source Sans', Tahoma, Verdana, Segoe, sans-serif;
			font-size: 2em;
			font-weight: 600;
			line-height: 4.2em;
			/*display: inline-block;*/
		}


		.left-container section .mini-card {
			position: relative;
			margin: 0 auto;
			width: 180px;
			height: 80px;
			display: block;
			text-align: center;
			margin-bottom: 30px;
		}

		.left-container section .mini-card span {
			color: #08346e;
			/*font-family: 'robotoregular', Tahoma, Verdana, Segoe, sans-serif;*/
			font-family: 'Source Sans', Tahoma, Verdana, Segoe, sans-serif;
			font-size: 1.6em;
			font-weight: 600;
			line-height: 3.3em;
			/*display: inline-block;*/
		}

		.left-container section .mini-card-active span {
			color: #000;
			/*font-family: 'robotoregular', Tahoma, Verdana, Segoe, sans-serif;*/
			font-family: 'Source Sans', Tahoma, Verdana, Segoe, sans-serif;
			font-size: 1.6em;
			font-weight: 200;
			line-height: 3.3em;
			/*display: inline-block;*/
		}

		.mini-card-active {
			background: -webkit-radial-gradient(bottom, circle cover, #ffffff 0%, #aaa 100%);
			border: 2px solid #aaa;
		}
		
		.mini-card-default {
			background-color: #9fc5f8;
			border: 2px solid #6fa8dc;
			scale: 0;
		}

		.menu-rounded {
			border-radius: 15px;
		}

		.card-shadow {
/*			-webkit-box-shadow: 4px 2px 6px 0px rgba(50, 50, 50, 0.42);
			box-shadow:         4px 2px 6px 0px rgba(50, 50, 50, 0.42);
*/			box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);

			/*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
		}

		div.menu-content section:last-of-type {
			margin-bottom: 0;
		}

			.badge {
				position: absolute;
				background-color: #ec514e;
				color: white;
				width: 10px;
				height: 10px;
				top: -15px;
				right: -15px;
				padding: 10px;
				font-size: 1em;
				line-height: 0.8em;
				font-weight: bold;
				/*border: 2px solid black;*/
				border-radius: 50%;
				-webkit-transition: all .4s ease-in-out;
				/*-webkit-transform-origin: 0 0;*/
			}
				.badge-hidden {
					-webkit-transform: scale(0);
				}

				.badge-visible {
					-webkit-transform: scale(1);
				}

.text-shadow {
	text-shadow: 0 1px #fff;
}

.left-container {

	/*background-color: #f5f9f8;*/
}

	.left-content {
	margin-top: 20px;
	}

.right-container {
	margin-top: 10px;
	height: 100%;
	overflow: auto;
}

	.right-container .topcoat-grid__row {
		margin-bottom: 20px;
	}

	.right-content {
		color: black;
	}
		.right-content section {
			margin-bottom: 20px;
		}

		.left-info-text {
			font-weight: 200;
			font-size: 2em;
		}

		.right-info-text {
			font-weight: 200;
			font-size: 2em;
		}